<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stylish</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body style="background-color: rgb(122, 122, 122)">
  <h1>Hi!</h1>
  <form method="post">
    <p>Select a style to preview. Options include:</p>
    <ul>
      <li>Magic</li>
      <li>Minced</li>
      <li>Molecule</li>
    </ul>
    <input type="text" name="style" />
  </form>
  <p>
    I'm currently too lazy to fully style these pages &nbsp;&nbsp; <span style="font-size: 20px;font-weight: bold;">:|</span>
  </p>
</body>
</html>